@model GummiBear.Models.Product

@{
    ViewData["Title"] = "Gummi Bear Kingdom Products - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";                   
}
<h2>Product Details</h2>
<hr />

<h3>@Model.Name</h3>

<h4>Price: $@Model.Cost</h4>     
<h4>Description: @Model.Description</h4>
<h4>Average Rating: @Model.AverageRating/5</h4>                                          

