@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    1234 Candy Lane<br />
    Candyville, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    555.555.5555
</address>

<address>
    <strong>Email:</strong> <a href="mailto:hello@gummibearkingdom.com">hello@gummibearkingdom.com</a><br />
</address>
