@model IEnumerable<GummiBear.Models.Product>
@{
    ViewData["Title"] = "Products";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<br>
<h3>@Html.ActionLink("Product list", "Index", "Products")</h3>
